@{
    ViewData["Title"] = "Home";
}
@layout = "_Layout";
<div class="jumbotron">
    <h1 class="display-5">Disaster Alleviation Foundation</h1>
    <p class="lead">Report incidents, donate resources, and register as a volunteer.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Donations" role="button">Donations</a>
        <a class="btn btn-success btn-lg" href="/Incidents/Report" role="button">Report Incident</a>
        <a class="btn btn-info btn-lg" href="/Volunteers/Register" role="button">Volunteer</a>
    </p>
</div>

